<html>
<head>
  <title>Individual Polar Bear Tracking</title>
</head>
<body>
 
    <h1>Polar Bear Tagged for Tracking</h1>
    <p>Bear: 
        <b>{{bear.bearID }}</b> | 
        {{bear.pTT_ID}} | 
         {{ bear.capture_lat}} | 
        {{bear.capture_long}}	| 
        {{bear.sex}} |
         {{ bear.age_class}} |
        {{bear.ear_applied}}	
     </p>
     <p>Sightings for this bear via Radio Device</p>
     {% for sighting in sightings %}
    <p>Bear: 
       <b>{{sighting.bear_id}}</b> with deploy_id:  
       {{sighting.deploy_id}} was picked up 
        {{ sighting.recieved}} at 
       {{sighting.latitude }}	latitude and 
       {{sighting.longitude }} longitude where the temperature was: 
        {{ sighting.temperature }} (although 0 represents an empty value)
    </p>
    {% endfor %}
</body>
</html>